@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}
body {
  width: 100%;
}

header {
  position: absolute;
  width: 90%;
  display: flex;
  margin-left: 10%;
  justify-content: space-between;
  z-index: 100;
}

.logo {
  color: white;
  background-color: black;
  padding: 0.5rem 1rem;

  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.logo h2 {
  letter-spacing: -1px;
}

.logphone {
  display: flex;
  align-items: center;
  background-color: white;
  border-bottom-left-radius: 20px;
}

.login {
  margin: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

svg {
  opacity: 0.6;
  margin: 8px;
}

.login a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-weight: 500;
  cursor: pointer;
}

.login .sign-up {
  margin: 0 1rem;
  background-color: black;
  color: #dbb341;
  padding: 0.2rem 0.8rem;
  border-radius: 100vmax;
}

.phone {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8em;
  margin-right: 1rem;
}

.phone p {
  font-weight: 700;
}

.phone .work-horaire {
  margin: 0 0.5rem;
  color: #888;
  font-weight: 400;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40vw;
}

.nav-bar a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  margin: 0 0.4rem;
}

.nav-bar a span {
  color: white;
}

main {
  width: 100%;
  height: 110vh;
  background: linear-gradient(45deg, #ffcc35, #ff7300);
  border-bottom-left-radius: 60px;
  padding: 20vh 15vw;
  box-shadow: -60px 60px 60px #ffe7b1, 0px 60px 60px #ffe7b1;
  position: relative;
}

main h1 {
  font-size: 5rem;
  color: white;
  line-height: 5rem;
  margin-bottom: 2rem;
}

main h3 {
  font-size: 2rem;
}

.browse {
  margin: 2rem 0;
}

.browse a {
  font-size: 1.2rem;
  margin: 1rem;
}

.check {
  color: black;
}

.check svg {
  color: black;
  opacity: 1;
  position: relative;
  top: 0.6rem;
  right: 5px;
}

.how {
  color: white;
  text-decoration: none;
  font-weight: 800;
  background-color: black;
  padding: 0.5rem 1.2rem;
  border-radius: 100vmax;
}

.search {
  position: absolute;
  width: 75vw;
  top: calc(100vh - 3rem);
  left: 10%;
}

.options {
  display: flex;
}

.option {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0.6rem 1.5rem;
  background-color: white;
  margin-right: 1px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0px -3px #ff7300;
  cursor: pointer;
  background-color: #ff7300;
  color: white;
}

.desc {
  margin: auto 0 auto auto;
  color: white;
  font-size: 0.9rem;
  font-weight: 700;
}
.desc p a {
  color: black;
}
.option.active {
  background-color: white;
  color: black;
}

.forms {
  position: relative;
}

.form {
  position: absolute;
  width: 100%;
  padding: 1.7rem;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  height: 8rem;
}

.form.active {
  z-index: 10;
}

.keywords,
.select,
.location,
.searchBtn {
  font-size: 1.3rem;
  border: none;
  padding: 0.4rem 1rem;
}

.select,
.location {
  background-color: #eeede8c0;
  width: 27.5%;
}
#keyword-input,
#select-input {
  display: inline;
  position: relative;
}

#keyword-input::after {
  content: '* Search keywords e.g web design';
}

#select-input::after {
  content: '* Filter by specialisms e.g developer design';
  color: black;
}

#keyword-input::after,
#select-input::after {
  position: absolute;
  left: 0;
  top: 200%;
  color: #999;
  font-size: 0.8rem;
}

.keywords::placeholder {
  color: black;
}

.select {
  color: #888;
}
.searchBtn {
  background-color: #01a23b;
  color: white;
  border-radius: 5px;
  padding: 0.2rem 2rem;
}

footer {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer h3 {
  font-size: 1.6rem;
  font-weight: 500;
  padding: 1rem;
}

footer p {
  color: #666;
}
